body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 30px;
}

.half-width {
    width: 50%;
}

.half-width image {
    width: 100%;
}

footer {
    text-align: center;
    p: center;
    color: black;

}

.link-button {
    text-decoration: chartreuse;
    text-align: center;
    padding: 10px 40px;
    border-radius: 5px;
    color: brown;
}